* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: auto;
    max-width: 1728px;
}