* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: unset;
    color: #333333;
}

@font-face {
    font-family: "NotoSans";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/NotoSansKR-Regular.otf") format("truetype");
}

html {
    color: #333333;
    font-family: "NotoSans";
    font-size: 10px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
}

#purple {
    color: #60079F;
}

#pink {
    color: #ee7d6c;
}

#grayA {
    color: #aaaaaa;
}

#green {
    color: #A6CD48;
}

#white {
    color: white;
}

#gray7 {
    color: #777777;
}

img.arrow {
    width: 1.6rem;
    height: 3.6rem;
}

header nav.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header .top span {
    margin-left: 1rem;
    font-size: 1.2rem;
    line-height: 3rem;
}

header hr {
    height: 1.1rem;
    width: 0;
    border-right: 0;
    margin-left: 1rem;
}

header .middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

header .logo {
    width: 24.8rem;
    height: 4.2rem;
    filter: drop-shadow(0.4rem 0.4rem 0.4rem rgb(17, 8, 8, 0.25));
}

header .middle .search input{
    width: 54rem;
    height: 4rem;
    border-radius: 2rem;
    border-color: #A6CD48;
}

header section.user-greet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.6rem;
    line-height: 2rem;
}

header .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
}

header .bottom .event-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .bottom .event-list aside {
    margin-right: 1.5rem;
}

header .bottom nav.user-info {
    display: flex;
    flex-direction: row;
}
header .bottom nav.user-info a {
    margin-right: 1.5rem;
}

header .bottom nav.user-info #my-store {
    margin-right: 1.5rem;
}

section.main-top {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section.main-top nav.menu a {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    margin-right: 2rem;
}

section.main-top nav.menu a:hover {
    filter: drop-shadow(0.2rem 0.2rem 0.1rem rgb(17, 8, 8, 0.25));
}

section.main-top section.rank {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    width: 35.3rem;
}

section.main-top section.rank span {
    width: 18.5rem;
    text-align: end;
}

section.main-banner {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 2rem
}

section.main-banner img.main-banner {
    width: 100%;
}

section.main-banner img.main-banner {
    position: absolute;
}

section.main-banner section.main-banner-text {
    position: absolute;
    top: 10rem;
    left: 49.5rem;
}

section.main-banner p#purple {
    font-size: 3.6rem;
    line-height: 5.6rem;
    font-weight: bold;
}

section.main-banner p#white {
    margin-top: 2rem;
    font-size: 4.8rem;
    line-height: 5.6rem;
    font-weight: bold;
}

section.main-banner p#gray7 {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

section.main-banner img.banner.arrow {
    position: absolute;
    top: 20.7rem;
}

section.main-banner img.arrow.left {
    left: 40rem;
}

section.main-banner img.arrow.right {
    right: 40rem;
}

section.main-banner section.category-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99rem;
    left: 46.5rem;
    top: 53rem;
}
section.main-banner section.category-list div.category-slide {
    display: none;
}

section.main-banner section.category-list div.category-slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.main-banner section.category-list div.category-slide span#white {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1rem;
}

section.main-banner img.categ.arrow {
    position: absolute;
    top: 57.5rem;
}

section.event-banner {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 45rem;
    top: 72.9rem;
}

main {
    position: absolute;
    top: 114rem;
}

main section.product-recommend section.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main section.product-recommend section.header span#gray7 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-right: 13.5rem;
}

main section.product-recommend section.header a#gray7 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-left: 28.1rem;
}

main section.product-recommend section.header span#bold {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: bold;
}