section.exclusive-event {
    position: relative;
    background-image: url(../asset/eventBanner/exclusiveEventBanner.png);
    width: 100vw;
    height: 60rem;
    margin-top: 21.4rem;
    padding: 0 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exclusive-event section.banner-wrapper {
    position: absolute;
    top: -11.4rem;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.banner-wrapper article.event {
    width: 50rem;
    height: 22.7rem;
    padding: 6.2rem 5.7rem;
}

section.banner-wrapper article.event.banner1 {
    background-image: url(../asset/eventBanner/2-1.png);
}

section.banner-wrapper article.event.banner2 {
    background-image: url(../asset/eventBanner/2-2.png);
}

section.banner-wrapper article.event p.event-title {
    font-size: 2.1rem;
    font-weight: bold;
    color: white;
    line-height: 1.35;
    margin-bottom: 2.7rem;
}

section.banner-wrapper article.event span.event-tag {
    font-size: 1.5rem;
    color: white;
    line-height: 1.35;
}

section.banner-slider-wrapper {
    position: absolute;
    top: 16.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97rem;
}

section.banner-slider-wrapper p.slider-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.12rem;
    margin-bottom: 3rem;
}

section.banner-slider-wrapper section.banner-slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.banner-slider article.banner-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.banner-slider article.banner-slide img {
    width: 31rem;
    height: 24rem;
    
}

section.banner-slider article.banner-slide p.slide-content {
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 1.1rem;
}

section.banner-slider img.arrow {
    position: absolute;
    top: 16.5rem;
}

section.banner-slider img.arrow.left {
    left: -4.5rem;
}

section.banner-slider img.arrow.right {
    right: -4.5rem;
}