.main{
    width: 100%;
    height: 779px;
    background-image: url(/HTML-CSS/juhee/assets/images/header_bg.png);
}

.second_banner{
    width: 100%;
    height: 600px;
    background-image: url(/HTML-CSS/juhee/assets/images/main_bg.png);
}